USE [master]
GO
/****** Object:  Database [Group3]    Script Date: 3/8/2022 12:37:31 AM ******/
CREATE DATABASE [Group3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Group3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Group3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Group3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Group3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Group3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Group3]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/8/2022 12:37:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[CusID] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[CusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[User] ([CusID], [UserName], [Password]) VALUES (1, N'admin', N'123123')
INSERT [dbo].[User] ([CusID], [UserName], [Password]) VALUES (2, N'xuanthang', N'123123')
INSERT [dbo].[User] ([CusID], [UserName], [Password]) VALUES (3, N'user', N'123123')
GO
USE [master]
GO
